<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

<head>
  <base href="/" />
  <link rel="icon" type="image/x-icon" href="favicon.png" />
  <link rel="stylesheet" href="@Assets["dist/css/bundle.css"]" />

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <ImportMap />
  <HeadOutlet />
</head>

<body class="app-blank bgi-size-cover bgi-position-center bgi-no-repeat">
  <script src="@Assets["dist/js/bundle.js"]"></script>
  <Routes />
  <script src="_framework/blazor.web.js"></script>
</body>

</html>
