name: On Push Main Branch
run-name: On Push to Main Branch

on: 
  push:
    branches:
      - main

permissions:
  contents: read

jobs:

  test:
    uses: ./.github/workflows/sub_unit_tests.yml

  build:
    uses: ./.github/workflows/sub_build.yml
