on:
  workflow_call:
  
permissions:
  contents: read

jobs:

  build_styles:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'
          cache: 'npm'
          cache-dependency-path: srcs/apps/Storybook/package-lock.json
      - name: Build Styles
        working-directory: srcs/apps/Storybook
        run: npm install && npm run build

  build_backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Build Backend Image
        run: echo "Backend image build process would run here"

  build_frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Build Frontend Image
        run: echo "Frontend image build process would run here"
